assets/presentaciones/oviedo/Las D.Vas/DVAS_HACKATHON-master/aplicacionV1.txt
[{"id":"86d799fa.394808","type":"tab","label":"Flow 12"},{"id":"fe24157.40f64e8","type":"ibmiot in","z":"86d799fa.394808","authentication":"boundService","apiKey":"ae1a0cec.ab091","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":135.02169799804688,"y":126.67099380493164,"wires":[["a2cf64e4.549a78"]]},{"id":"7b5c0c56.367114","type":"comment","z":"86d799fa.394808","name":"Main Application","info":"","x":135.02169799804688,"y":86.67099380493164,"wires":[]},{"id":"14616eb2.da09c1","type":"comment","z":"86d799fa.394808","name":"Context Definition","info":"Node RED carga las funciones cuando hacemos el deploy.","x":359.8788604736328,"y":83.95668411254883,"wires":[]},{"id":"7b280bd1.064094","type":"debug","z":"86d799fa.394808","name":"message Error","active":false,"console":"false","complete":"true","x":1155.5935440063477,"y":245.70703601837158,"wires":[]},{"id":"c13b6d56.cfa8","type":"function","z":"86d799fa.394808","name":"Deserializacion Hand Left","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    //node.warn(res);\n    return res;\n}\n\n\nvar obj = msg.payload;\nvar users = obj.user;\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nif (users) {\n    var user = users[0];\n    \n    if(user) {\n        var body = user.bodyParts;\n        var item = null;\n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(p.name == \"HandLeft\") {\n                          \n                          p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                          p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                          p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n    \n                          item = p;\n                          item.leftHandState = user.leftHandState;\n                          \n                          node.send(item);\n                          return null;\n                      }\n                  }\n              );\n        }\n    }\n}","outputs":1,"noerr":0,"x":665.7001724243164,"y":294.4924726486206,"wires":[["d8847856.d69038"]],"outputLabels":["string"]},{"id":"bf99bda3.a911c","type":"function","z":"86d799fa.394808","name":"Throttling","func":"var packetId = msg.payload.packetID;\n\nif(packetId % this.context.global.get(\"numPackets\") == 0)  \n    return node.send(msg);\n\n\n\n","outputs":1,"noerr":0,"x":448.2717056274414,"y":394.92101287841797,"wires":[["c13b6d56.cfa8","3318c35c.f5bb7c"]]},{"id":"d8847856.d69038","type":"switch","z":"86d799fa.394808","name":"Hand Left Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":927.0058784484863,"y":284.4170575141907,"wires":[["7b280bd1.064094"],["c241f320.9ca5f"]]},{"id":"a2cf64e4.549a78","type":"function","z":"86d799fa.394808","name":"Configure Service Skeleton","func":"\n\n/*********************************** Configuration *************************************/\n//this.context.global.queue = new Queue();\n//node.warn(\"is Queue Empty: \"+this.context.global.queue.getLength()+\" Is initialize \"+this.context.global.queue.isInitialize());\n//this.context.global.queue = new FastPriorityQueue();\n//this.context.global.mutex = new Mutex();\n\nthis.context.global.set(\"timeDelay\",1000);\nthis.context.global.set(\"numPackets\",15);\n//this.context.global.set(\"bodyPartSelect\", \"HandLeft\");\nthis.context.global.set(\"numDecimals\",3);\nthis.context.global.set(\"numPacketsDebug\",100);\nthis.context.global.set(\"initializeTone\",false);\nthis.context.global.set(\"listPuntos\",[]);\nthis.context.global.set(\"grosor\",1);\nthis.context.global.set(\"color\", [0, 0, 0]);\n\nreturn msg;","outputs":1,"noerr":0,"x":391.0930938720703,"y":127.31384658813477,"wires":[[]]},{"id":"e35e9a30.47af78","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"true","x":420.77172088623047,"y":247.42102241516113,"wires":[]},{"id":"1fef5fbd.f2eab","type":"ibmiot in","z":"86d799fa.394808","authentication":"apiKey","apiKey":"1bef36d5.c64849","inputType":"evt","deviceId":"kinectDeviceMDR","applicationId":"","deviceType":"kinectDeviceType","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input Kinect","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":143.2717056274414,"y":300.92099952697754,"wires":[["bf99bda3.a911c","e35e9a30.47af78"]]},{"id":"bf659ce9.07e6f","type":"comment","z":"86d799fa.394808","name":"*******    Hand Left    *******","info":"","x":664.7003402709961,"y":244.34977626800537,"wires":[]},{"id":"427028a9.28dc28","type":"debug","z":"86d799fa.394808","name":"message Error","active":false,"console":"false","complete":"true","x":1220.5218353271484,"y":457.92119216918945,"wires":[]},{"id":"3318c35c.f5bb7c","type":"function","z":"86d799fa.394808","name":"Deserializacion Hand Right","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    //node.warn(res);\n    return res;\n}\n\n\nvar obj = msg.payload;\nvar users = obj.user;\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nif (users) {\n    var user = users[0];\n    \n    if(user) {\n        var body = user.bodyParts;\n        var item = null;\n        \n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(p.name == \"HandRight\") {\n                          \n                          p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                          p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                          p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n    \n                          item = p;\n                          item.rightHandState = user.rightHandState;\n    \n                          node.send(item);\n                          return null;\n                      }\n                  }\n              );\n        }\n    }\n}","outputs":1,"noerr":0,"x":681.2953720092773,"y":496.8178234100342,"wires":[["7b7e5cda.728e84"]],"outputLabels":["string"]},{"id":"7b7e5cda.728e84","type":"switch","z":"86d799fa.394808","name":"Hand Right Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":968.9343948364258,"y":522.4090747833252,"wires":[["427028a9.28dc28"],["1176c139.38540f"]]},{"id":"ef960aa9.1382b8","type":"comment","z":"86d799fa.394808","name":"*******    Hand Right    *******","info":"","x":673.6288681030273,"y":437.5640239715576,"wires":[]},{"id":"1176c139.38540f","type":"function","z":"86d799fa.394808","name":"HandToolRight","func":"function HandRightProcesada(name, x, y, z, state) {\n    this.name = name;\n    this.x = x;\n    this.y = y;\n    this.z = z;\n    this.state = state;\n}\n\nvar state = msg.rightHandState;\n\nif(msg.isPresent === true && msg.isTracked === true && (state === \"Open\" || state === \"Closed\")) {\n    var obj = new HandRightProcesada(msg.name, msg.positions[0].x, msg.positions[0].y, msg.positions[0].z, state);\n    return obj;\n}\nreturn null;","outputs":1,"noerr":0,"x":1211.0021667480469,"y":582.6670875549316,"wires":[["6c2919a1.f2ffb8"]]},{"id":"6c2919a1.f2ffb8","type":"switch","z":"86d799fa.394808","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"Closed","vt":"str"},{"t":"eq","v":"Open","vt":"str"}],"checkall":"true","outputs":2,"x":1413.752643585205,"y":590.8343677520752,"wires":[["5a1fa801.6d3b48"],["353c6168.04adde"]]},{"id":"5a1fa801.6d3b48","type":"function","z":"86d799fa.394808","name":"PintaConversor","func":"class Punto{\n\tconstructor(x,y,grosor,rojo,verde,azul)\n\t{\n\t\tthis.x = x;\n\t\tthis.y = y;\n\t\tthis.grosor = grosor;\n\t\tthis.rojo= rojo;\n\t\tthis.verde = verde;\n\t\tthis.azul = azul;\n\t}\n}\n\nfunction normalizeX(val){\n    return (1.0*val+0.5)/1.5;\n}\n\nfunction normalizeY(val){\n    return 1-((1.0*val+1.25)/2.5);\n}\n\nfunction obtainSize(val){\n    var a = (val-1)/(3-1);\n    return (a*45) + 5;\n}\n\nvar x = parseInt(normalizeX(msg.x)*1000);\nvar y =parseInt(normalizeY(msg.y)*500);\nvar grosor = parseInt(obtainSize(msg.z));\nvar rgb = this.context.global.color;\n\nthis.context.global.listPuntos.push('{\"x\" : ' + x + ', \"y\" : ' + y + ', \"grosor\" : ' + grosor + ', \"rojo\" : ' + rgb[0] + ', \"verde\" : ' + rgb[1] + ', \"azul\" : ' + rgb[2] + \"}\");\n\nmsg.listPuntos = this.context.global.listPuntos;\nreturn msg;","outputs":1,"noerr":0,"x":1629.0138854980469,"y":526.1898565292358,"wires":[["795dac93.17f064"]]},{"id":"353c6168.04adde","type":"function","z":"86d799fa.394808","name":"MoveConversor","func":"return msg;","outputs":1,"noerr":0,"x":1620.1191101074219,"y":639.3265113830566,"wires":[["2d0c453d.be4fba","a52037a5.95c9f8"]]},{"id":"2d0c453d.be4fba","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"x","x":1819.1192722320557,"y":579.3265991210938,"wires":[]},{"id":"a52037a5.95c9f8","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"y","x":1819.1192436218262,"y":638.3265533447266,"wires":[]},{"id":"40ac4156.0df51","type":"template","z":"86d799fa.394808","name":"PaginaPaint","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta http-equiv=\"refresh\" content=\"0.2\">\n    <title>D.vas Wall</title>\n    <script> \n        class Punto{\n        \tconstructor(x,y,grosor,rojo,verde,azul)\n        \t{\n        \t\tthis.x = x;\n        \t\tthis.y = y;\n        \t\tthis.grosor = grosor;\n        \t\tthis.rojo= rojo;\n        \t\tthis.verde = verde;\n        \t\tthis.azul = azul;\n        \t}\n        }\n    \n        var lista = {{{payload.listPuntos}}};\n        \n        {{{payload.script}}}\n    </script>\n    </head>\n    <body onload=\"loader()\" style=\"background-image: url(https://www.muralswallpaper.com/app/uploads/clean-white-brick-wall-textures-plain.jpg);\">\n        <h1 style=\"text-align: center; font-family: Verdana; font-size: 400%;\">D.vas Wall</h1>\n\n        <div style=\"margin: 0 auto; width: 60%;\">\n            <canvas id=\"canvas\" width=\"1000\" height=\"500\">\n            </canvas>\n        </div>\n    </body>\n</html>\n\n\n\n\n","output":"str","x":2397.252468109131,"y":404.6671829223633,"wires":[["38ab93a.6b7de6c"]]},{"id":"38ab93a.6b7de6c","type":"http response","z":"86d799fa.394808","name":"pagina Paint","statusCode":"","headers":{},"x":2585.2525310516357,"y":413.16714668273926,"wires":[]},{"id":"795dac93.17f064","type":"template","z":"86d799fa.394808","name":"JavasCriptTemplate","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var canvas;\n\nfunction loader(){\n\tthis.pintarFondo();\n\tthis.pintarDibujo();\n    //this.cargarMenu();\n}\n\nfunction pintarDibujo(){\n    this.canvas = document.getElementById('canvas').getContext('2d');\n\t\n\t\n\tvar punto;\n\t\n\tfor(var i = 0; i < this.lista.length; i++) {\n\t\tpunto = JSON.parse(this.lista[i]);\n\t\t\n\t\tconsole.log(punto);\n\n\t\tthis.canvas.fillStyle = \"rgba(\"+punto.rojo+\", \"+punto.verde+\", \"+punto.azul+\", 1)\";\n\n\t\tthis.canvas.beginPath(); // Iniciar trazo\n\t\tthis.canvas.arc(punto.x, punto.y, punto.grosor, 0, Math.PI * 2, true); // Dibujar un punto usando la funcion arc\n\t\t\n\t\tthis.canvas.closePath();\n\t\tthis.canvas.fill(); // Terminar trazo\n\t}\n\t\n}\n\nfunction cargarMenu(){\n    this.canvas =document.getElementById('canvas').getContext('2d');\n    \n    this.canvas.fillStyle = \"rgba(255, 0, 0, 0.1)\";\n    this.canvas.beginPath();\n    //circunferencia: arco de 360 grados\n    this.canvas.arc(950, 50, 48, 0, Math.PI * 2, true);\n\n    this.canvas.closePath();\n    this.canvas.fill();\n    \n    this.canvas.beginPath();\n    this.canvas.arc(950, 70, 20, 0, Math.PI * 1.5, true)\n    this.canvas.stroke();\n    \n    this.canvas.beginPath();\n    this.canvas.arc(950, 30, 20, Math.PI * 1, Math.PI * 0.5, true)\n    this.canvas.stroke();\n\t\n}\n\nfunction pintarFondo(){\n\tthis.canvas = document.getElementById('canvas').getContext('2d');\n    this.canvas.lineWidth=7;\n    this.canvas.strokeStyle = \"rgba(0, 0, 0, 1)\";\n    this.canvas.rect(0,0,1000,500);\n    this.canvas.stroke();\n    \n}","output":"str","x":1938.2522201538086,"y":403.9170951843262,"wires":[["ea4813ca.ebed4"]]},{"id":"c241f320.9ca5f","type":"function","z":"86d799fa.394808","name":"ConversionRGB","func":"var colores = [\n    [255, 0, 0], \n    [255, 127, 0], \n    [255, 255, 0], \n    [255, 255, 120], \n    [0, 255, 0], \n    [0, 0, 255], \n    [75, 0, 130], \n    [143, 0, 255], \n    [0, 0, 0]];\n\nfunction normalize(val){\n    return 1-((1.0*val+1.25)/2.5);\n}\n\nif(msg.isPresent === true && msg.isTracked === true && msg.leftHandState === \"Closed\") {\n    var tam = colores.length-1;\n    var y = Math.round(normalize(msg.positions[0].y)*tam);\n    \n    // Formula para encontrar el color\n    var r = colores[y][0];\n    var g = colores[y][1];\n    var b = colores[y][2];\n    \n    this.context.global.color = [r, g, b];\n\n    msg.color = this.context.global.color;\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":1208.1494598388672,"y":350.00489044189453,"wires":[["1886bbe6.9bd734","2dbaebd9.a25034","53e5002d.deeb"]]},{"id":"1886bbe6.9bd734","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"color[0]","x":1467.0395469665527,"y":283.56018686294556,"wires":[]},{"id":"53e5002d.deeb","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"color[2]","x":1464.5398406982422,"y":411.3379578590393,"wires":[]},{"id":"2dbaebd9.a25034","type":"debug","z":"86d799fa.394808","name":"","active":false,"console":"false","complete":"color[1]","x":1463.428466796875,"y":348.0046124458313,"wires":[]},{"id":"7b0ee5f6.d66c2c","type":"http in","z":"86d799fa.394808","name":"","url":"/prueba","method":"get","upload":false,"swaggerDoc":"","x":1752.363296508789,"y":331.66516304016113,"wires":[["795dac93.17f064"]]},{"id":"ea4813ca.ebed4","type":"function","z":"86d799fa.394808","name":"AddListPuntos","func":"msg.payload.listPuntos = JSON.stringify(this.context.global.listPuntos);\n\nreturn msg;","outputs":1,"noerr":0,"x":2180.6719970703125,"y":412.82937812805176,"wires":[["40ac4156.0df51"]]},{"id":"ae1a0cec.ab091","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1bef36d5.c64849","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
