assets/presentaciones/murcia/Backstreet Voids/Backstreet voids/proyect.txt
[{"id":"3562836d.58679c","type":"ibmiot in","z":"4b2d8a9.abe7a74","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b827eb54399e","applicationId":"","deviceType":"iotsample-raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":765.000129699707,"y":735.0003519058228,"wires":[["4b9751c6.0f8da","1610e489.4b259b","b78fb45c.737a88","9e664ea2.a4c22","b24fcc65.7bf4f"]]},{"id":"1b547a23.277996","type":"debug","z":"4b2d8a9.abe7a74","name":"myName","active":false,"complete":"payload.d.myName","x":1185.500144958496,"y":780.0004191398621,"wires":[]},{"id":"5fb17b18.a56774","type":"debug","z":"4b2d8a9.abe7a74","name":"Promedio de carga de CPU","active":false,"complete":"payload.d.cpuload","x":1205.5001220703125,"y":887.0002613067627,"wires":[]},{"id":"65d1bd36.9de124","type":"debug","z":"4b2d8a9.abe7a74","name":"Onda senoidal","active":false,"complete":"payload.d.sine","x":1075.5001220703125,"y":1135.0003271102905,"wires":[]},{"id":"8c3e911c.355cb","type":"ui_gauge","z":"4b2d8a9.abe7a74","name":"TempGauge","group":"d4018b72.418e18","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1405.9003295898438,"y":678.2003507614136,"wires":[]},{"id":"4b9751c6.0f8da","type":"switch","z":"4b2d8a9.abe7a74","name":"SacarTemp","property":"payload.d.cputemp","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":997.9001846313477,"y":631.8003702163696,"wires":[["679ea186.fe997","fc14e649.6983f8"]]},{"id":"679ea186.fe997","type":"function","z":"4b2d8a9.abe7a74","name":"ToPayloadTemp","func":"var prev = this.context.global.get(\"prevTemp\");\n\nfunction FunctionMain(){\n    var obj = {};\n    obj.payload = (msg.payload.d.cputemp + prev).toFixed(2);\n    return obj;\n}\n\n\nreturn FunctionMain()","outputs":1,"noerr":0,"x":1223.9001846313477,"y":676.8003702163696,"wires":[["8c3e911c.355cb"]]},{"id":"1610e489.4b259b","type":"switch","z":"4b2d8a9.abe7a74","name":"SacarNombre","property":"payload.d.myName","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":991.9001617431641,"y":730.2003564834595,"wires":[["1b547a23.277996","c785f38d.67ec1"]]},{"id":"c785f38d.67ec1","type":"function","z":"4b2d8a9.abe7a74","name":"ToPayloadName","func":"\n\nfunction FunctionMain(){\n    var obj = {};\n    var rooms = [\"Cocina\", \"Dormitorio\", \"Pasillo\",\"Comedor\"];\n    var item = this.context.global.get(\"roomCode\");\n    obj.payload = rooms[item];\n    return obj;\n}\n\nreturn FunctionMain();","outputs":"1","noerr":0,"x":1195.9002685546875,"y":728.2004995346069,"wires":[["524ed9c4.d3f248"]]},{"id":"524ed9c4.d3f248","type":"ui_text","z":"4b2d8a9.abe7a74","group":"d4018b72.418e18","order":1,"width":0,"height":0,"name":"Nombre","label":"Habitación","format":"{{msg.payload}}","layout":"row-center","x":1383.9001846313477,"y":731.8003702163696,"wires":[]},{"id":"b78fb45c.737a88","type":"switch","z":"4b2d8a9.abe7a74","name":"SacarHumedad","property":"payload.d.cpuload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":1010.800163269043,"y":805.0003776550293,"wires":[["5fb17b18.a56774","d552fce4.79521"]]},{"id":"d552fce4.79521","type":"function","z":"4b2d8a9.abe7a74","name":"ToPayloadHumidity","func":"function FunctionMain(){\n    var obj = {};\n    obj.payload = msg.payload.d.cpuload;\n    return obj;\n}\n\n\nreturn FunctionMain()\n","outputs":1,"noerr":0,"x":1226.8001708984375,"y":830.0003793239594,"wires":[["80c382b6.af5b"]]},{"id":"80c382b6.af5b","type":"ui_gauge","z":"4b2d8a9.abe7a74","name":"HumGauge","group":"d4018b72.418e18","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1459.8001708984375,"y":896.0003128051758,"wires":[]},{"id":"53df1eb3.f165","type":"ui_switch","z":"4b2d8a9.abe7a74","name":"VentanaAbierta","label":"Control Ventana","group":"ba530d31.922ec","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Abriendo Ventana","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Cerrando Ventana","offvalueType":"str","officon":"","offcolor":"","x":1358.9002723693848,"y":945.8004446029663,"wires":[["c0ec43cc.097dd"]]},{"id":"c0ec43cc.097dd","type":"ui_audio","z":"4b2d8a9.abe7a74","name":"Sonido","group":"d4018b72.418e18","voice":"0","always":true,"x":1498.9001770019531,"y":1039.800422668457,"wires":[]},{"id":"9e664ea2.a4c22","type":"switch","z":"4b2d8a9.abe7a74","name":"SacarRuido","property":"payload.d.sine","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":950.8002090454102,"y":926.6004180908203,"wires":[["a434eb91.8ad0c8","65d1bd36.9de124"]]},{"id":"a434eb91.8ad0c8","type":"function","z":"4b2d8a9.abe7a74","name":"ToPayloadSonido","func":"function FunctionMain(){\n    var obj = {};\n    var data = msg.payload.d.sine >=0?msg.payload.d.sine*51:msg.payload.d.sine+1*30;\n    obj.payload = data;\n    return obj;\n}\n\n\nreturn FunctionMain()\n","outputs":1,"noerr":0,"x":1160.8002166748047,"y":990.600419998169,"wires":[["1bfaa861.955f58"]]},{"id":"1bfaa861.955f58","type":"ui_gauge","z":"4b2d8a9.abe7a74","name":"GaugeSound","group":"ba530d31.922ec","order":1,"width":0,"height":0,"gtype":"wave","title":"Sonoridad","label":"db","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1366.300178527832,"y":1026.400403022766,"wires":[]},{"id":"fc14e649.6983f8","type":"debug","z":"4b2d8a9.abe7a74","name":"Temperatura de CPU","active":false,"complete":"payload.d.cputemp","x":1240.5001220703125,"y":586.0003805160522,"wires":[]},{"id":"a75bab32.a37948","type":"ui_audio","z":"4b2d8a9.abe7a74","name":"Sonido2","group":"d4018b72.418e18","voice":"0","always":true,"x":1752.0001602172852,"y":1086.8670892715454,"wires":[]},{"id":"8d5b0fc2.ce408","type":"ui_switch","z":"4b2d8a9.abe7a74","name":"ControlPersiana","label":"Control Persiana","group":"ba530d31.922ec","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Abriendo Persiana","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Cerrando Persiana","offvalueType":"str","officon":"","offcolor":"","x":1446.0002555847168,"y":1116.8670120239258,"wires":[["a75bab32.a37948"]]},{"id":"5b2b0e57.a2f1d","type":"function","z":"4b2d8a9.abe7a74","name":"RoomChecker","func":"\nfunction ChangeRoom(){\n    var actual = this.context.global.get(\"roomCode\");\n\tactual = (actual + 1) % 4;\n\tthis.context.global.set(\"roomCode\",actual);\n}\n\nfunction OnOff(){\n    var lastdate = this.context.global.get(\"laston\");\n    var actual = new Date();    \n\tvar timeDiff = Math.abs(actual.getTime() - lastdate.getTime());\n\tvar diffDays = Math.ceil(timeDiff / 1000);\n\tnode.error(\"diff : \"+diffDays);\n\tif(diffDays > 60){\n\t    var on = this.context.global.get(\"systemon\");\n    \ton = !on;\n    \tif(!on){\n    \t\tthis.context.global.set(\"prevTemp\",0);\n    \t}\n        this.context.global.set(\"laston\", new Date());\n    \tthis.context.global.set(\"systemon\",on);\t\n\t\t} \n}\n\nfunction Increase(){\n\tvar tmp =  this.context.global.get(\"prevTemp\");\n\ttmp= tmp +0.5;\n    this.context.global.set(\"prevTemp\",tmp);\n}\n\nfunction Decrease(){\n\tvar tmp =  this.context.global.get(\"prevTemp\");\n\ttmp= tmp - 0.5;\n    this.context.global.set(\"prevTemp\",tmp);\n}\n\nfunction FunctionMain(){\n\tvar code = msg.payload;\n\tif(code == 1){\n\t\t//OnOff();\n\t} else if(code == 2){\n\t\tChangeRoom();\n\t} else if(code == 3){\n\t\tDecrease();\n\t}else if(code == 4){\n\t\tIncrease();\n\t} else{\n        \n\t}\n\treturn msg;\n}\n\nreturn FunctionMain();","outputs":1,"noerr":0,"x":1479.4001770019531,"y":1232.6005182266235,"wires":[[]]},{"id":"3ead1a84.f14526","type":"ibmiot in","z":"4b2d8a9.abe7a74","authentication":"apiKey","apiKey":"c5cdcb15.ec6c48","inputType":"evt","deviceId":"kinectDeviceMUR","applicationId":"","deviceType":"kinectDeviceType","eventType":"kinectEvent","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":"0","x":713.0001220703125,"y":1433.800347328186,"wires":[["b51dcc65.7ba1c"]]},{"id":"b51dcc65.7ba1c","type":"function","z":"4b2d8a9.abe7a74","name":"Throttling Async","func":"/**\n * Funci?n que devuelve el Packet ID del cliente Kinect\n **/\nfunction GetPatcketID(){\n    return msg.payload.packetID;\n}\n\n/**\n * Funci?n que muestra por pantalla el env?o del m?dulo X de los paquetes totales hasta el momento\n **/ \nfunction NumPacketsDebug(packetID,_node) {\n    var numPacketsDebug = this.context.global.get(\"numPacketsDebug\");\n    \n    //if(packetID % numPacketsDebug == 0) \n    // _node.warn(\"Total Packet Id : \"+packetID);\n}\n\n/**\n * Funci?n que salvaguarda el env?o de paquetes del cliente a la aplicaci?n Node-RED\n * Filtra los paquetes enviados \n **/\nfunction ThrottlingAsync(packetID,_node) {\n    var numPackets = this.context.global.get(\"numPackets\");\n    var isDebug = this.context.global.get(\"isDebug\");\n    \n    if(packetID % numPackets == 0){\n        if(isDebug)\n            _node.warn(\"Throttling Async Packet ID\"+packetID);\n            \n        return _node.send(msg);\n    }\n}\n\n/**\n * Funci?n Template Pattern\n **/\nfunction Throttling_Main() {\n    var packetId = GetPatcketID();\n    NumPacketsDebug(packetId, node);\n    ThrottlingAsync(packetId, node);\n}\n\n\nreturn Throttling_Main();","outputs":1,"noerr":0,"x":728.0001487731934,"y":1516.4003477096558,"wires":[["e85ebe65.b2e6a","ba84f10c.34d8b"]]},{"id":"97b8c8c2.d9bb98","type":"ibmiot in","z":"4b2d8a9.abe7a74","authentication":"boundService","apiKey":"","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App Initialize Context","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":752.0001258850098,"y":1349.8003556728363,"wires":[["cf178a09.579568"]]},{"id":"cf178a09.579568","type":"function","z":"4b2d8a9.abe7a74","name":"Global Configure ","func":"\n/**\n * Funci?n que inicializa todas las propiedades de la aplicaci?n\n **/\nfunction InitializeConfigure() {\n    this.context.global.set(\"isDebug\",false);\n    this.context.global.set(\"timeDelay\",1000);\n    this.context.global.set(\"numPackets\",15);\n    this.context.global.set(\"numPacketsDebug\",100);\n    this.context.global.set(\"prevTemp\",0);\n    this.context.global.set(\"roomCode\",2);\n    this.context.global.set(\"systemon\",true);\n    this.context.global.set(\"laston\",new Date());\n    this.context.global.set(\"debugPI\",[]);\n    this.context.global.set(\"debugKi\",[]);\n    return msg;\n}\n\n\nInitializeConfigure();","outputs":1,"noerr":0,"x":996.2143592834473,"y":1350.157508611679,"wires":[[]]},{"id":"e85ebe65.b2e6a","type":"function","z":"4b2d8a9.abe7a74","name":"body","func":"obj = msg.payload.user[0];\nreturn obj","outputs":1,"noerr":0,"x":934.0001564025879,"y":1518.800347328186,"wires":[["ddb3607c.141fa"]],"outputLabels":["values"]},{"id":"ddb3607c.141fa","type":"function","z":"4b2d8a9.abe7a74","name":"Bodypositions","func":"function fn(ms)\n{\n    if(ms == \"Open\") return 1;\n    else if(ms == \"Closed\") return 0;\n    else return -1;\n}\n\nobj = {};\nobj.wl = msg.bodyParts[6].positions[0];\nobj.wl.open = fn(msg.leftHandState);\nobj.wr = msg.bodyParts[10].positions[0];\nobj.wr.open = fn(msg.rightHandState);\nobj.neck = msg.bodyParts[2].positions[0];\nobj.sr = msg.bodyParts[9].positions[0];\nobj.sl = msg.bodyParts[5].positions[0];\n\nreturn obj;","outputs":1,"noerr":0,"x":1108.0001831054688,"y":1517.800365447998,"wires":[["d60d44a.47a0cb8"]],"outputLabels":["values"]},{"id":"d60d44a.47a0cb8","type":"function","z":"4b2d8a9.abe7a74","name":"positions","func":"var YOFFSET = 0.1;\nvar YOFFSET2 = 0.5;\nvar XOFFSET = 0.5;\nvar ONOFFOFFSET = 0.2;\n\nfunction checkOnOff()\n{\n    var value = this.context.global.get(\"systemon\");\n    if(value !== null || value !== undefined)\n    {\n        return value?1:0;\n    }\n    return 0;\n}\n\nfunction checkLeftHand(lefty, necky)\n{\n    if(lefty-necky<-YOFFSET && lefty-necky>-YOFFSET2)\n        return 1;\n    else if(lefty-necky>YOFFSET)\n        return 2;\n    return 0;\n}\n\nfunction checkRightHand(rightx, neckx)\n{\n    if(rightx-neckx>XOFFSET)\n        return 1;\n    return 0;\n}\n\nfunction checkOnOffHands(wr, sr, wl, sl)\n{\n    if(Math.abs(wr.y-sr.y)+Math.abs(wl.y-sl.y)<0.1)\n        return 1;\n    return 0;\n}\n\nvar code = 0;\nif(checkOnOff()==1)\n{\n    if(checkRightHand(msg.wr.x,msg.neck.x)==1)code = 2;\n    if(checkLeftHand(msg.wl.y,msg.neck.y)==1)code = 3;\n    else if(checkLeftHand(msg.wl.y,msg.neck.y)==2) code = 4;\n    if(checkOnOffHands(msg.wr, msg.sr, msg.wl, msg.sl)==1) code = 1;\n}\nelse\n{\n    if(checkOnOffHands(msg.wr, msg.sr, msg.wl, msg.sl))\n        code = 1;\n}\n\nvar tmp =code;\nvar code = {}\ncode.payload = tmp;\nreturn code;","outputs":1,"noerr":0,"x":1279.0001373291016,"y":1515.2003407478333,"wires":[["5b2b0e57.a2f1d"]],"outputLabels":["values"]},{"id":"3b938025.f5243","type":"ui_audio","z":"4b2d8a9.abe7a74","name":"Sonido3","group":"ba530d31.922ec","voice":"0","always":true,"x":1750.4188537597656,"y":1142.8253717422485,"wires":[]},{"id":"e567107b.8596c","type":"ui_switch","z":"4b2d8a9.abe7a74","name":"ControlLuces","label":"Control Luces","group":"ba530d31.922ec","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"Encenciendo Luces","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Apagando Luces","offvalueType":"str","officon":"","offcolor":"","x":1434.4189338684082,"y":1157.8253030776978,"wires":[["3b938025.f5243"]]},{"id":"268e6634.96911a","type":"json","z":"4b2d8a9.abe7a74","name":"ToJson","pretty":true,"x":1543.3667678833008,"y":1392.6001720428467,"wires":[["a12703b3.0d179"]]},{"id":"a12703b3.0d179","type":"mongodb out","z":"4b2d8a9.abe7a74","service":"_ext_","mongodb":"","name":"","collection":"","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1823.3667755126953,"y":1431.7333908081055,"wires":[]},{"id":"b24fcc65.7bf4f","type":"function","z":"4b2d8a9.abe7a74","name":"DebugPi","func":"var arr = this.context.global.get(\"debugPi\");\narr.push(msg);\nthis.context.global.set(\"debugPi\",arr);\nreturn msg;","outputs":1,"noerr":0,"x":624.1187133789062,"y":962.7624282836914,"wires":[["e0568e82.21a47"]]},{"id":"e0568e82.21a47","type":"function","z":"4b2d8a9.abe7a74","name":"MinutePrint","func":"var actualDate = new Date();\n var lastdate = this.context.global.get(\"laston\");\n    var actual = new Date();    \n\tvar timeDiff = Math.abs(actual.getTime() - lastdate.getTime());\n\tvar diffDays = Math.ceil(timeDiff / 1000);\n\tnode.error(\"diff : \"+diffDays);\n\tif(diffDays == 60){\n\t    node.error(\"pi\");\n\t node.error(this.context.global.get(\"debugPi\"));   \n\t}\n\treturn \"\";","outputs":1,"noerr":0,"x":668.1124572753906,"y":1228.768653869629,"wires":[[]]},{"id":"ba84f10c.34d8b","type":"function","z":"4b2d8a9.abe7a74","name":"DebugKinect","func":"var arr = this.context.global.get(\"debugKi\");\narr.push(msg);\nthis.context.global.set(\"debugKi\",arr);\nreturn msg;","outputs":1,"noerr":0,"x":1151.618797302246,"y":1657.0250186920166,"wires":[["fb93d565.a29028"]]},{"id":"fb93d565.a29028","type":"function","z":"4b2d8a9.abe7a74","name":"MinutePrint","func":"var actualDate = new Date();\n var lastdate = this.context.global.get(\"laston\");\n    var actual = new Date();    \n\tvar timeDiff = Math.abs(actual.getTime() - lastdate.getTime());\n\tvar diffDays = Math.ceil(timeDiff / 1000);\n\tnode.error(\"diff : \"+diffDays);\n\tif(diffDays == 60){\n\t    node.error(\"kinect\");\n\t node.error(this.context.global.get(\"debugKi\"));   \n\t}\n\treturn \"\";","outputs":1,"noerr":0,"x":1185.6125411987305,"y":1923.031244277954,"wires":[[]]},{"id":"d4018b72.418e18","type":"ui_group","z":"","name":"Control","tab":"ea4d84eb.3e4688","order":2,"disp":false,"width":"14"},{"id":"ba530d31.922ec","type":"ui_group","z":"","name":"Soundness","tab":"ea4d84eb.3e4688","order":3,"disp":false,"width":"15"},{"id":"c5cdcb15.ec6c48","type":"ibmiot","z":"","name":"iot key Hackathon","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea4d84eb.3e4688","type":"ui_tab","z":"","name":"Control Domótico","icon":"dashboard"}]