assets/presentaciones/murcia/Binbashbinbonbash/Hackaton/AmbulanceIsComing.txt
[{"id":"5fb1c06c.d2669","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"51333a9d.22eb54","type":"ibmiot in","z":"5fb1c06c.d2669","authentication":"apiKey","apiKey":"fe280f44.672e6","inputType":"evt","deviceId":"kinectDeviceMUR","applicationId":"","deviceType":"kinectDeviceType","eventType":"kinectEvent","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":445.0000457763672,"y":430.00004386901855,"wires":[["d6909221.8fe88","2a11eb2.c67dd14"]]},{"id":"1c5b35f.2bd36ca","type":"ibmiot in","z":"5fb1c06c.d2669","authentication":"apiKey","apiKey":"fe280f44.672e6","inputType":"appsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App Initialize Context","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":488.0000457763672,"y":194.00000381469727,"wires":[["86b87611.bfba28"]]},{"id":"726a9a7c.184434","type":"comment","z":"5fb1c06c.d2669","name":"Context Definition","info":"","x":731.0000457763672,"y":148.00000381469727,"wires":[]},{"id":"86b87611.bfba28","type":"function","z":"5fb1c06c.d2669","name":"Global Configure ","func":"\n/**\n * Funci?n que inicializa todas las propiedades de la aplicaci?n\n **/\nfunction InitializeConfigure() {\n    this.context.global.set(\"isDebug\",false);\n    this.context.global.set(\"timeDelay\",10000);\n    this.context.global.set(\"numPackets\",15);\n    this.context.global.set(\"numPacketsDebug\",100);\n    this.context.global.set(\"headOldY\", 0.65);\n    this.context.global.set(\"spineOldY\", 0);\n    this.context.global.set(\"hipOldY\", 0);\n    this.context.global.set(\"neckOldY\", 0.6);\n    this.context.global.set(\"Name\",\"Joaquin\");\n    this.context.global.set(\"Surname\",\"Brotons Candela\");\n    this.context.global.set(\"Location\",\"Espinardo, Murcia - ESPAÑA\");\n    this.context.global.set(\"Phone\",\"669152630\");\n    this.context.global.set(\"PhoneFamily\",\"639946734\");\n    return msg;\n}\n\n\nInitializeConfigure();","outputs":1,"noerr":0,"x":732.2142791748047,"y":194.35715675354004,"wires":[[]]},{"id":"9a8ecb17.1743e8","type":"comment","z":"5fb1c06c.d2669","name":"@Autor: /bin/bash/binbonbash","info":"","x":505.0000457763672,"y":637.0000438690186,"wires":[]},{"id":"ffac3183.d1dac","type":"comment","z":"5fb1c06c.d2669","name":"IoT Watshon Hackathon","info":"","x":471.0000457763672,"y":373.00004386901855,"wires":[]},{"id":"d2c3f15e.74a71","type":"ui_template","z":"5fb1c06c.d2669","group":"b2ad1aa1.f28258","name":"Dynamic LoadScriptAsync","order":8,"width":0,"height":0,"format":"<script>\n(function(scope) {\n \n     function loadScript(url, callback) {\n    \n        var script = document.createElement(\"script\")\n        script.type = \"text/javascript\";\n    \n        if (script.readyState) {     \n            script.onreadystatechange = function () {\n                if (script.readyState == \"loaded\" || script.readyState == \"complete\") {\n                    script.onreadystatechange = null;\n                    callback();\n                }\n            };\n        } \n        else { \n            script.onload = function () {\n                 var timer = setInterval(function() {\n                 clearInterval(timer);\n                 callback();\n                 },100);\n            };\n        }\n\n        script.src = url;\n        document.getElementsByTagName(\"head\")[0].appendChild(script);\n    }\n\n     loadScript(\"https://tonejs.github.io/build/Tone.js\", function () {\n        \n        var loaded = 'Tone loaded';\n        console.log(loaded);\n     \n        window.tone = new Tone.Synth().toMaster();\n        tone.triggerAttackRelease(\"C4\", \"8n\");\n     \n     \n     \t\twindow.tone = new Tone.Oscillator({\n     \t\t\t\"frequency\" : 440,\n     \t\t\t\"volume\" : -10\n     \t\t}).toMaster();\n     \t\t\n     \t//\tconsole.log(window.tone);\n     \t\t\n     \t\twindow.toneMaster = Tone.Master;\n     \t\t\n     //\t\tconsole.log(window.toneMaster);\n     });\n \n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":751.1428680419922,"y":240.71429824829102,"wires":[[]]},{"id":"2a11eb2.c67dd14","type":"function","z":"5fb1c06c.d2669","name":"Throttling","func":"var packetId = msg.payload.packetID;\n\nif(packetId % this.context.global.get(\"numPacketsDebug\") == 0)  \n    node.warn(packetId);\n\nif(packetId % this.context.global.get(\"numPackets\") == 0)  \n    return node.send(msg);\n\n\n\n","outputs":1,"noerr":0,"x":622.1429710388184,"y":557.1429443359375,"wires":[["6599fd7.ce52e04"]]},{"id":"b75ea1dc.9f4d7","type":"debug","z":"5fb1c06c.d2669","name":"message Error","active":false,"console":"false","complete":"true","x":1240.7144393920898,"y":654.2858066558838,"wires":[]},{"id":"6599fd7.ce52e04","type":"function","z":"5fb1c06c.d2669","name":"Deserializacion Body Parts","func":"function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    return res;\n}\n\n\nfunction contains(a, obj) {\n    for (var i = 0; i < a.length; i++) {\n        if (a[i] === obj) {\n            return true;\n        }\n    }\n    return false;\n}\n\nvar obj = msg.payload;\n\nvar user = obj.user;\n\nvar size = user.length;\n\nvar numDecimals = this.context.global.get(\"numDecimals\");\n\nvar values = new Array();\n\nif (user) {\n    \n    for (var i = 0; i < size; i++)\n    { \n        var bodypart = context.global.get(\"bodyPartSelect\");\n        \n        var body = user[i].bodyParts;\n        var parts = [\"SpineBase\", \"Neck\", \"Head\", \"HipLeft\"];\n        var item = null;\n        if(body){\n             body.forEach( \n                  function(p){ \n                      if(contains(parts, p.name)) {\n                          \n                          item = {\"y\": toDecimal(p.positions[0].y, numDecimals), \"name\": p.name};\n                          values.push(item);\n                      }\n                  }\n              );\n        }\n    }\n}\n\nnode.send({\"values\": values});","outputs":1,"noerr":0,"x":730.6785888671875,"y":735.0714092254639,"wires":[["756545d6.a5a20c"]],"outputLabels":["string"]},{"id":"756545d6.a5a20c","type":"switch","z":"5fb1c06c.d2669","name":"Body Parts","property":"_msgid","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","outputs":2,"x":965.71435546875,"y":827.9642562866211,"wires":[["b75ea1dc.9f4d7"],["91025607.724988","4504f01a.f36b4"]]},{"id":"91025607.724988","type":"debug","z":"5fb1c06c.d2669","name":"","active":false,"console":"false","complete":"payload","x":1290.0000228881836,"y":731.4286699295044,"wires":[]},{"id":"bc8586a7.bea928","type":"switch","z":"5fb1c06c.d2669","name":"Fall","property":"fall","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":1435.000144958496,"y":850.0001411437988,"wires":[["77af7df8.1c2124"]]},{"id":"4504f01a.f36b4","type":"function","z":"5fb1c06c.d2669","name":"detector","func":"\nvar oldy = this.context.global.get(\"headOldY\");\nvar newy = msg.values[2].y;\nthis.context.global.set(\"headOldY\", newy);\n\n\nif (oldy - newy > 1 && msg.values[0].y < -0.4 && msg.values[1].y < -0.4 && msg.values[3].y < -0.4)\n    return {\"fall\": true, \"msg\": \"El sujeto se ha desplomado\"};\nelse\n    return {\"fall\": false};\n\n\n","outputs":"1","noerr":0,"x":1236.4286651611328,"y":848.5714654922485,"wires":[["bc8586a7.bea928"]]},{"id":"77af7df8.1c2124","type":"function","z":"5fb1c06c.d2669","name":"Recognize","func":"var name = this.context.global.get(\"Name\");\nvar surname = this.context.global.get(\"Surname\");\nvar location = this.context.global.get(\"Location\");\nvar phone = this.context.global.get(\"Phone\");\nvar phonefamily = this.context.global.get(\"PhoneFamily\");\n    \nvar todo = \"Nombre:\"+name+\", Apellidos:\"+surname+\", Localización:\"+location+\", Telefono:\"+phone+\", Telefono Familiar Cercano: \"+phonefamily;\n\nvar buf = Buffer.from(todo, 'utf8');\nmsg.payload = new Buffer(todo);\nreturn msg;","outputs":1,"noerr":0,"x":1575.0000610351562,"y":975.0000457763672,"wires":[["149e64cf.85c01b"]]},{"id":"149e64cf.85c01b","type":"tcp out","z":"5fb1c06c.d2669","host":"155.54.247.132","port":"6000","beserver":"client","base64":true,"name":"","x":1837.8571166992188,"y":960.3574695587158,"wires":[]},{"id":"dadd4f91.bfdb","type":"microphone","z":"5fb1c06c.d2669","name":"","x":1067.375144958496,"y":1141.0001525878906,"wires":[["8b6509b2.187c78"]]},{"id":"8b6509b2.187c78","type":"watson-speech-to-text","z":"5fb1c06c.d2669","name":"Recorder","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"gweMwaUi3U2S","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":1319.8751602172852,"y":1142.500150680542,"wires":[["90df457c.5f7428"]]},{"id":"90df457c.5f7428","type":"function","z":"5fb1c06c.d2669","name":"Recognize","func":"\n\nvar name = this.context.global.get(\"Name\");\nvar surname = this.context.global.get(\"Surname\");\nvar location = this.context.global.get(\"Location\");\nvar phone = this.context.global.get(\"Phone\");\nvar phonefamily = this.context.global.get(\"PhoneFamily\");\n    \nvar todo = msg.payload+\"-ALERTA MICROFONO- Nombre:\"+name+\", Apellidos:\"+surname+\", Localización:\"+location+\", Telefono:\"+phone+\", Telefono Familiar Cercano: \"+phonefamily;\n\nvar buf = Buffer.from(todo, 'utf8');\nmsg.payload = new Buffer(todo);\n\nreturn msg;","outputs":1,"noerr":0,"x":1583.5001678466797,"y":1142.0000524520874,"wires":[["149e64cf.85c01b"]]},{"id":"d6909221.8fe88","type":"debug","z":"5fb1c06c.d2669","name":"","active":false,"console":"false","complete":"false","x":762.8751068115234,"y":415.50008392333984,"wires":[]},{"id":"fe280f44.672e6","type":"ibmiot","z":"","name":"iot key Hackathon","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]